# Importamos las librerias

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

## Importamos el csv

In [3]:
registro = pd.read_csv('Registro.csv')

## Exploramos datos dentro de csv

In [4]:
registro.head()

,#Ô∏è‚É£N√∫mero de Control,üë®‚Äçüë¶Apellido Paterno,üë©‚Äçüë¶Apellido Materno,üßëNombre(s),Pagado üí∞üìä,Pago Pendiente üí∞‚è≥
0,ALVAREZ-SA001,Alvarez,Sifuentes,Angel Manuel,$ 500.00,$ 700.00
1,ARG√úELLES -ME002,Arg√ºelles,Mac√≠as,Eduardo Alberto,$ 200.00,"$ 1,000.00"
2,ARREOLA-RF003,Arreola,Rocha,Fernando,$ 805.00,$ 395.00
3,BETANCOURT -MG004,Betancourt,Marroqu√≠n,Gael Abisa√≠,$ 300.00,$ 900.00
4,CALDER√ìN -BD005,Calder√≥n,Buend√≠a,Daniel,$ 100.00,"$ 1,100.00"

## Filtros

In [12]:
# Selecion de columnas
celda = "Pagado üí∞üìä"
total = registro[celda].sum()
print(f"El total {celda} es: {total}")

El total Pagado üí∞üìä es:  $ 500.00  $ 200.00  $ 805.00  $ 300.00  $ 100.00  $ 100.00  $ 200.00  $ 500.00  $ 100.00  $ 705.00  $ 500.00  $ 820.00  $ 820.00  $ 300.00  $ 100.00  $ 1,000.00  $ 100.00  $ 100.00  $ 600.00  $ 100.00  $ 300.00  $ 455.00  $ 100.00  $ 870.00  $ 500.00  $ 100.00  $ 100.00  $ 700.00  $ 205.00  $ 1,000.00  $ 100.00  $ 500.00  $ 100.00  $ 450.00  $ 200.00  $ 13,630.00